body {
    display: flex;
    flex-direction: column;
    padding-inline-start: 30px;
    padding-inline-end: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 24px;
    color:bisque;
    background-color: #6F4E37;
}

.header-links {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    padding-inline-start: 0px;
    margin: 0px;
}

.top-content {
    display:flex;
    justify-content: space-between;
    align-content: center;
}

img {
    height: 10%;
    width: 10%;
    align-self: center;
}