body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 24px;
    color:bisque;
    background-image: linear-gradient(to right,#6F4E37, #a07d66);
    padding: 32px;
}

.header-links {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    padding-inline-start: 0px;
    margin: 0px;
}

.top-content {
    display:flex;
    justify-content: space-between;
    align-content: center;
    color:bisque;
    background-image: linear-gradient(to right,#6F4E37, #a07d66);
    padding: 32px;
    gap: 20px;
}

img {
    height: 20%;
    width: 20%;
    align-self: center;
}

button {
    background-color: bisque;
    color: #6F4E37;
    border-radius: 4px;
    font-weight: 600;
    padding: 10px;
    border: none;
}

#white-bold {
    font-size: 48px;
    font-weight: 800;
}

p {
    font-size: 18px;
}

.left-top {
    align-self: center;
}

.image-container {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.img-sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 350px;
    flex-shrink: 1;
}

.lower-image {
    object-fit: cover;
    width: 100%;
    height: 250px;
    border-radius: 20%;
}

.subtext {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    font-size: 14px;
    font-style: italic;
    color: #6F4E37;
}

.top-middle {
    padding: 48px;
    background-image: linear-gradient(to left,bisque,rgb(202, 165, 120));
}

#black-bold {
    color: #6F4E37;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

.quote {
    background-image: url("mystic.png");
    background-size: fill;
    height: 700px;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.story {
    padding-inline-end: 0px;
    color: #DAA520;
    font-size: 16px;
}